<!DOCTYPE html>
<html>
   <head>
      <title>Registrar's Office Class Search</title>
   </head>
   <body>
      <h1>Registrar's Office Class Search</h1>
      <h2>Class Search</h2>
      {% include 'searchform.html' %}
      <table>
         <tr>
            <td><strong>ClassId</strong></td>
            <td><strong>Dept</strong></td>
            <td><strong>Number</strong></td>
            <td><strong>Area</strong></td>
            <td><strong>Title</strong></td>
         </tr>
      </table>
         
         {% include 'searchresults.html' %}

      <hr>Created by David Basili and Dane Jacobson.<hr>
   </body>
</html>
