{% if entries|length == 0: %}
     (None)
{% else: %}
{%    for entry in entries: %}
        {% data = entry.split() %}
        {% classid = data[0] %}
        {% dept = data[1] %}
        {% coursenum = data[2] %}
        {% area = data[3] %}
        {% title = data[4] %}

        {% classidlink = "/regdetails?classid=" + classid %}
        <tr>
          <td>
            <a href="{{classidlink}}"></a>
          </td>
          <td>{{dept}}</td>
          <td>{{coursenum}}</td>
          <td>{{area}}</td>
          <td>{{title}}</td>
        </tr>
{%    endfor %}
{% endif %}